.navbar-container{
    margin-left:$sideBarWidth;
    width:calc(100% - #{$sideBarWidth});
    height:$navbarHeight;
    background-color: $navBg;
    .el-menu.el-menu--horizontal{
        border-bottom: none;
    }
    .el-menu-item, .el-submenu__title{
        height:$navbarHeight;
        line-height:$navbarHeight;
    }
    ul[role="menubar"]{
        margin-left:20%;
        float:left;
        z-index: 2;
        >div{
            display: flex;
        }
        .el-menu-item{
            padding:0px;
            a{
                padding: 0 34px;
                height: 100%;
                display: block;
                color:#1F263E;
                box-sizing: border-box;
            }
            font-size: 16px;
            border:0;
          
            &.is-active,&:hover{
                a{
                    color:$activeTextColor !important;
                    border-bottom:2px solid ;
                }
                background-color:$navHoverBg !important;
            }
            transition: all 0.5s ease-in-out;
        }
    }
}



